body{
    font-size: 25px;
}

h1{
    background-color: darkslategray;
    color: whitesmoke;
}

/* Tous les p à l'intérieur de section */
section p {
    color:red;
}

/* Premier p situé à l'intérieur de la balise section */
section p:first-child {
    color: darkblue;
}

section p:last-child {
    color:yellow;
}

section p:nth-child(even) {
    color: lightskyblue;
}

section p:nth-child(odd) {
    color: brown;
}

section p:nth-child(3), section p:nth-child(10) {
    color:orange;
}

.zone1 {
    color: #dc143C;
}

.zone2 {
    color: #008080
}

.lime {
    color: #00FF00;
}

#zone3 {
    background-color: #f5deb3;
}

#zone3:after {
    content: " rajouté après";
    background-color: cyan;
}

#zone3:before {
    content: "rajouté avant ";
    background-color: cyan;
}

/*le 2ème <li> situé dans <ul> situé dans la div possédant la classe zone5*/
div.zone5 ul li:nth-child(2){
    background-color: darkred;
    color:white;
}